// CONTENT
$dark-primary-color: #0288D1;
$light-primary-color: #B3E5FC;
$primary-color: #03A9F4;
$deep-primary-color: #0478ab;
$text: #FFFFFF;
$accent-color: #536DFE;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #BDBDBD;
