// CONTENT
$color00: #090909;
$color01: #232323;
$color02: #353535;
$color03: #464646;
$color04: #878787;
$color05: #adadad;
$color06: #c3c3c3;
$color07: #e2e3e7;
$color08: #ffffff;
$color09: #806ec2;
$color10: #8d81fb;
$color11: #ff6969;
$color12: #f55858;
